.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-color: rgb(241, 241, 241);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 100;
}
.left-section {
  width: 200px;
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}
.youtube {
  position: relative;
}
.kh {
  font-family: Roboto, Arial;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -15px;
}
.middle-section {
  margin-left: 70px;
  margin-right: 80px;
  max-width: 500px;
  flex: 1;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-color: rgb(96, 96, 96);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  box-shadow: inset 1px 2px 2px rgb(0, 0, 0, 0.05);
  background-color: rgb(255, 255, 255);
  width: 0;
}
.search-bar::placeholder {
  font-size: 16px;
  font-family: Roboto, Arial;
}
.search-icon {
  height: 26px;
}
.voice-search-icon {
  height: 26px;
}
.search-button {
  width: 66px;
  height: 39px;
  border-color: rgb(96, 96, 96);
  border-style: solid;
  border-width: 1px;
  background-color: rgb(230, 230, 230);
  margin-left: -1px;
  margin-right: 10px;
}
.search-button,
.voice-button,
.upload-container,
.youtube-app,
.notification-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button .tool,
.voice-button .tool,
.upload-container .tool,
.youtube-app .tool,
.notification-container .tool {
  font-family: Roboto, Arial;
  font-weight: 500;
  color: white;
  font-size: 16px;
  position: absolute;
  background-color: rgb(100, 100, 100);
  padding: 6px 6px 6px 6px;
  border-radius: 2px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tool,
.voice-button:hover .tool,
.upload-container:hover .tool,
.youtube-app:hover .tool,
.notification-container:hover .tool {
  opacity: 100;
}
.voice-button {
  height: 39px;
  background-color: rgb(235, 230, 230);
  border-radius: 70px;
  border: none;
}
.right-section {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload {
  height: 25px;
}
.youtube-apps {
  height: 25px;
}
.notifications {
  height: 25px;
}
.my-channel {
  height: 32px;
}
.notification-container {
  position: relative;
}
.notification-count {
  font-family: Roboto, Arial;
  font-size: 10px;
  font-weight: 500;
  background-color: rgb(164, 16, 16);
  color: white;
  position: absolute;
  padding: 2px 6px 3px 6px;
  border-color: white;
  border-style: solid;
  border-radius: 30px;
  left: 10px;
  bottom: 15px;
}
