.side-bar {
  background-color: white;
  border-right-color: rgb(242, 240, 240);
  border-right-style: solid;
  border-right-width: 1px;
  position: fixed;
  left: 0px;
  top: 55px;
  bottom: 0;
  width: 100px;
  z-index: 200;
  padding-top: 5px;
  cursor: pointer;
}
.sidebar-link {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-link:hover {
  background-color: lightgrey;
}
.sidebar-link img {
  height: 32px;
}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 12px;
  padding-top: 8px;
}
