.thumnail {
  width: 100%;
}
.search-bar {
  display: block;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width: 700px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* @media (min-width: 7001px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.thumnail-picture {
  margin-bottom: 20px;
  position: relative;
}
.video-time {
  color: white;
  background-color: black;
  position: absolute;
  right: 5px;
  bottom: 10px;
  font-family: Roboto, Arial;
  font-weight: 500px;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
}
.video-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-author,
.video-status {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}
.my-channel {
  border-radius: 25px;
}
